.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}

.content {
  position: relative;
  background: transparent;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeBtn {
  position: absolute;
  top: -50px;
  right: -50px;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  cursor: pointer;
  font-size: 28px;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
.closeBtn:hover {
  background: rgba(255, 255, 255, 0.3);
  color: red;
}

.image {
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease-in-out;
}
